[Unit]
Description=ownCloud php fpm
Requires=owncloud-postgresql.service
After=owncloud-postgresql.service

[Service]
User=owncloud
Type=forking
PIDFile={{ app_data_dir }}/php-fpm.pid
ExecStart={{ app_dir }}/php/sbin/php-fpm -y {{ app_dir }}/config/php-fpm.conf -c {{ app_dir }}/config/php.ini
Environment=LD_LIBRARY_PATH={{ app_dir }}/php/lib
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target