[Unit]
Description=nextcloud php fpm
Requires=nextcloud-postgresql.service
After=nextcloud-postgresql.service

[Service]
User=nextcloud
Type=forking
PIDFile={{ app_data_dir }}/php-fpm.pid
ExecStart={{ app_dir }}/bin/service.php-fpm.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
