[Unit]
Description=nextcloud PostgreSQL database server
Requires=network.target
After=network.target

[Service]
User=nextcloud
Type=forking
Environment=SNAP_COMMON={{ app_data_dir }}
SyslogIdentifier=postgres
PIDFile={{ app_data_dir }}/database/postmaster.pid
ExecStart={{ app_dir }}/bin/service.postgresql.sh start
ExecStop={{ app_dir }}/bin/service.postgresql.sh stop
Restart=always

# Due to PostgreSQL's use of shared memory, OOM killer is often overzealous in
# killing Postgres
OOMScoreAdjust=-200

[Install]
WantedBy=multi-user.target